@model IEnumerable<ariwebapp.Models.Henkilot>

@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".naytaTunnitNappi").click(function() {
               // alert("Painoit nappia");
                var henkiloId=$(this).data("henkiloid");
               // alert(henkiloId);
                $("#henkilo_" + henkiloId).css("display", "block");
                var url = "/henkilo/haetunnit/" + henkiloId;
                alert(url);
                $.ajax(url).done(function (data) {
                    alert("Palvelin vastaa");
                    var tuntidata = "";
                    for (var i = 0; i < data.length; i++) {
                       tuntidata += (i + 1) + ":" + data[i].Projekti_id + " " + data[i].Tunnit + "\r\n";
                        
                    }
                    $("#tunnit_" + henkiloId).html("<pre>" + tuntidata + "</pre>");

                });
                
            });
            
        });
    
    
   
</script>
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Henkilo_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Osoite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Esimies)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
     
        <td>
            <a href="#"><span data-henkiloid="@Html.DisplayFor(modelItem => item.Henkilo_id)" class="glyphicon glyphicon-plus naytaTunnitNappi"></span></a>
            @Html.DisplayFor(modelItem => item.Henkilo_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sukunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Osoite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Esimies)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
    <tr style="display: none;" id="henkilo_@Html.DisplayFor(modelItem => item.Henkilo_id)">
        <td>&nbsp;</td>
        <td colspan="5" id="tunnit_@Html.DisplayFor(modelItem => item.Henkilo_id)">Loading..</td>

    </tr>
}

</table>
